In [50]:
import os

from natsort import natsorted
import pandas as pd
import numpy as np

# 1번 하나의 파일로 합치기

In [51]:
experiment_log = [f for f in os.listdir("./log/") if "experiment" in f]
experiment_log = natsorted(experiment_log)
trajectory_log = [f for f in os.listdir("./log/") if "trajectory" in f]
trajectory_log = natsorted(trajectory_log)

In [52]:
logs_list = []
for pid, f in enumerate(experiment_log, 1):
    log = pd.read_table("./log/" + f)
    log["participants"] = pid
    logs_list.append(log)

experiment_df = pd.concat(logs_list, ignore_index=True)
experiment_df = experiment_df[["participants", "Block", "Target", "Error", "Time"]]
experiment_df.head()

   participants  Block  Target  Error      Time
0             1      1       3      0  1.076775
1             1      1       7      2  2.963905
2             1      1       9      0  0.865860
3             1      1       9      0  0.821457
4             1      1       1      0  0.932465

In [53]:
logs_list = []
for pid, f in enumerate(trajectory_log, 1):
    log = pd.read_table("./log/" + f)
    log["participants"] = pid
    logs_list.append(log)

trajectory_df = pd.concat(logs_list, ignore_index=True)
trajectory_df = trajectory_df[
    ["participants", "Block", "Target", "posX", "posY", "posZ", "revZ"]
]
trajectory_df.head()

   participants  Block  Target      posX      posY      posZ      revZ
0             1      1       3  0.858636  0.278284  0.465669  0.080744
1             1      1       3  0.858454  0.277970  0.465987  0.081471
2             1      1       3  0.858649  0.277381  0.466215  0.081665
3             1      1       3  0.858777  0.276939  0.466679  0.081836
4             1      1       3  0.859216  0.276871  0.466939  0.082044

In [54]:
data = pd.merge(experiment_df, trajectory_df, on=["participants", "Block", "Target"], how="outer")
display(data)
data.shape

,participants,Block,Target,Error,Time,posX,posY,posZ,revZ
0,1,1,3,0,1.076775,0.858636,0.278284,0.465669,0.080744
1,1,1,3,0,1.076775,0.858454,0.277970,0.465987,0.081471
2,1,1,3,0,1.076775,0.858649,0.277381,0.466215,0.081665
3,1,1,3,0,1.076775,0.858777,0.276939,0.466679,0.081836
4,1,1,3,0,1.076775,0.859216,0.276871,0.466939,0.082044
...,...,...,...,...,...,...,...,...,...
1386147,18,9,6,0,1.133057,0.726942,0.290853,0.453403,0.020623
1386148,18,9,6,0,1.133057,0.728025,0.289968,0.454556,0.019485
1386149,18,9,6,0,1.133057,0.728996,0.289309,0.455541,0.018531
1386150,18,9,6,0,1.133057,0.731406,0.287951,0.457458,0.017565
1386151,18,9,6,0,1.133057,0.732409,0.287343,0.458215,0.016658

(1386152, 9)

# 2번 experiment_log file에 error = 0만 남기기

In [55]:
data_zero = data[data["Error"] == 0]
display(data_zero)
data_zero.shape

,participants,Block,Target,Error,Time,posX,posY,posZ,revZ
0,1,1,3,0,1.076775,0.858636,0.278284,0.465669,0.080744
1,1,1,3,0,1.076775,0.858454,0.277970,0.465987,0.081471
2,1,1,3,0,1.076775,0.858649,0.277381,0.466215,0.081665
3,1,1,3,0,1.076775,0.858777,0.276939,0.466679,0.081836
4,1,1,3,0,1.076775,0.859216,0.276871,0.466939,0.082044
...,...,...,...,...,...,...,...,...,...
1386147,18,9,6,0,1.133057,0.726942,0.290853,0.453403,0.020623
1386148,18,9,6,0,1.133057,0.728025,0.289968,0.454556,0.019485
1386149,18,9,6,0,1.133057,0.728996,0.289309,0.455541,0.018531
1386150,18,9,6,0,1.133057,0.731406,0.287951,0.457458,0.017565
1386151,18,9,6,0,1.133057,0.732409,0.287343,0.458215,0.016658

(1232060, 9)

# 3번 trajectory_log의 x, y, z만 사용

In [56]:
data_zero_xyz = data_zero.sort_values(['participants', 'Block','Target'], ascending = True)

data_zero_xyz = data_zero_xyz.reset_index(drop = False)
data_zero_xyz

# csv파일로 저장
# trajectory_df.to_csv("./log/trajectory_log.csv", index=False)

,index,participants,Block,Target,Error,Time,posX,posY,posZ,revZ
0,1322,1,1,1,0,0.932465,0.818616,0.306054,0.470103,0.107256
1,1323,1,1,1,0,0.932465,0.818584,0.306042,0.470058,0.107284
2,1324,1,1,1,0,0.932465,0.818553,0.305958,0.470080,0.107246
3,1325,1,1,1,0,0.932465,0.818565,0.305941,0.470102,0.107200
4,1326,1,1,1,0,0.932465,0.818654,0.305807,0.470218,0.107090
...,...,...,...,...,...,...,...,...,...,...
1232055,1298643,18,18,9,0,1.143379,0.697877,0.252343,0.470331,0.026857
1232056,1298644,18,18,9,0,1.143379,0.699579,0.252458,0.473570,0.029653
1232057,1298645,18,18,9,0,1.143379,0.700361,0.252063,0.474837,0.025308
1232058,1298646,18,18,9,0,1.143379,0.701591,0.251645,0.476957,0.026066
1232059,1298647,18,18,9,0,1.143379,0.702469,0.251512,0.478559,0.025663

In [57]:
# data_zero_xyz.to_csv('C:/Users/acer/data1111.csv', encoding = 'cp949')

In [99]:
dt = data_zero_xyz.copy()

# 4번 0.04 이상 이하 구별하기

In [100]:
end_find = dt[['revZ']]
end_find = end_find[1:]

end_find = end_find.reset_index(drop = False)
end_find = end_find[['revZ']]

end_find.loc[1232059] = [0.0]

dt["end_find"] = dt['revZ'].subtract(end_find['revZ'], axis = 0)

In [101]:
dt["Find"] = dt["revZ"] - dt["revZ"].shift(fill_value=0)
dt["start"] = dt["Find"].apply(lambda x: 1 if abs(x) >= 0.06 else 0)

dt["endi"] = dt["end_find"].apply(lambda x: 1 if( abs(x) >=0.06) else 0)
dt.iloc[1232059,13] = 1


# data.to_csv("data.csv", index=False)

In [102]:
dt

,index,participants,Block,Target,Error,Time,posX,posY,posZ,revZ,end_find,Find,start,endi
0,1322,1,1,1,0,0.932465,0.818616,0.306054,0.470103,0.107256,-0.000027,0.107256,1,0
1,1323,1,1,1,0,0.932465,0.818584,0.306042,0.470058,0.107284,0.000037,0.000027,0,0
2,1324,1,1,1,0,0.932465,0.818553,0.305958,0.470080,0.107246,0.000046,-0.000037,0,0
3,1325,1,1,1,0,0.932465,0.818565,0.305941,0.470102,0.107200,0.000110,-0.000046,0,0
4,1326,1,1,1,0,0.932465,0.818654,0.305807,0.470218,0.107090,0.000131,-0.000110,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1232055,1298643,18,18,9,0,1.143379,0.697877,0.252343,0.470331,0.026857,-0.002796,-0.000956,0,0
1232056,1298644,18,18,9,0,1.143379,0.699579,0.252458,0.473570,0.029653,0.004345,0.002796,0,0
1232057,1298645,18,18,9,0,1.143379,0.700361,0.252063,0.474837,0.025308,-0.000759,-0.004345,0,0
1232058,1298646,18,18,9,0,1.143379,0.701591,0.251645,0.476957,0.026066,0.000403,0.000759,0,0
1232059,1298647,18,18,9,0,1.143379,0.702469,0.251512,0.478559,0.025663,0.025663,-0.000403,0,1

In [103]:
check = dt.loc[dt["endi"] == 1]
check

,index,participants,Block,Target,Error,Time,posX,posY,posZ,revZ,end_find,Find,start,endi
81,1403,1,1,1,0,0.932465,0.859449,0.329649,0.553444,0.026556,-0.105915,-0.001185,0,1
185,1507,1,1,1,0,0.932465,0.855563,0.344942,0.562962,0.021749,-0.085507,0.000487,0,1
267,1589,1,1,1,0,1.153687,0.859449,0.329649,0.553444,0.026556,-0.105915,-0.001185,0,1
371,1693,1,1,1,0,1.153687,0.855563,0.344942,0.562962,0.021749,-0.096814,0.000487,0,1
453,2813,1,1,2,0,0.931824,0.873692,0.338051,0.552605,0.021794,-0.075205,-0.000236,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1231587,1301669,18,18,8,0,1.409798,0.661526,0.255951,0.495132,0.022247,-0.131045,-0.005352,0,1
1231745,1298333,18,18,9,0,1.809270,0.709510,0.241112,0.477800,0.024430,-0.093543,-0.000141,0,1
1231823,1298411,18,18,9,0,1.809270,0.702469,0.251512,0.478559,0.025663,-0.127629,-0.000403,0,1
1231981,1298569,18,18,9,0,1.143379,0.709510,0.241112,0.477800,0.024430,-0.093543,-0.000141,0,1
1232059,1298647,18,18,9,0,1.143379,0.702469,0.251512,0.478559,0.025663,0.025663,-0.000403,0,1

In [116]:
data = dt.copy()

 # 5번 trajectory log 의 x y z 의 시작점이 0, 0, 0 이 되게 변환

In [117]:
data["cumsum_endi"] = data["start"].cumsum()
data[["posX", "posY", "posZ"]] = (
    data[["cumsum_endi", "posX", "posY", "posZ"]]
    .groupby("cumsum_endi")
    .diff()
    .fillna(0)
)
data.drop(["cumsum_endi"], axis=1, inplace=True)
data.head()

,index,participants,Block,Target,Error,Time,posX,posY,posZ,revZ,end_find,Find,start,endi
0,1322,1,1,1,0,0.932465,0.000000,0.000000,0.000000,0.107256,-0.000027,0.107256,1,0
1,1323,1,1,1,0,0.932465,-0.000031,-0.000011,-0.000045,0.107284,0.000037,0.000027,0,0
2,1324,1,1,1,0,0.932465,-0.000031,-0.000084,0.000022,0.107246,0.000046,-0.000037,0,0
3,1325,1,1,1,0,0.932465,0.000012,-0.000017,0.000022,0.107200,0.000110,-0.000046,0,0
4,1326,1,1,1,0,0.932465,0.000089,-0.000134,0.000116,0.107090,0.000131,-0.000110,0,0

In [118]:
data = data[['participants', 'Block', 'Target', 'Time', 'posX', 'posY', 'posZ', 'endi']]
data

,participants,Block,Target,Time,posX,posY,posZ,endi
0,1,1,1,0.932465,0.000000,0.000000,0.000000,0
1,1,1,1,0.932465,-0.000031,-0.000011,-0.000045,0
2,1,1,1,0.932465,-0.000031,-0.000084,0.000022,0
3,1,1,1,0.932465,0.000012,-0.000017,0.000022,0
4,1,1,1,0.932465,0.000089,-0.000134,0.000116,0
...,...,...,...,...,...,...,...,...
1232055,18,18,9,1.143379,0.001078,-0.000514,0.002732,0
1232056,18,18,9,1.143379,0.001702,0.000115,0.003239,0
1232057,18,18,9,1.143379,0.000783,-0.000395,0.001267,0
1232058,18,18,9,1.143379,0.001229,-0.000418,0.002120,0
1232059,18,18,9,1.143379,0.000878,-0.000133,0.001602,1

# length를 구하기 위함

In [119]:
end_point = data["endi"] == 1
Experiment_log = data[end_point]

Experiment_log = Experiment_log.reset_index(drop = False)
Experiment_log

,index,participants,Block,Target,Time,posX,posY,posZ,endi
0,81,1,1,1,0.932465,0.000572,-0.000358,0.001101,1
1,185,1,1,1,0.932465,-0.000230,-0.000209,-0.000151,1
2,267,1,1,1,1.153687,0.000572,-0.000358,0.001101,1
3,371,1,1,1,1.153687,-0.000230,-0.000209,-0.000151,1
4,453,1,1,2,0.931824,0.000569,-0.000250,0.000819,1
...,...,...,...,...,...,...,...,...,...
9362,1231587,18,18,8,1.409798,0.000755,-0.000212,0.000748,1
9363,1231745,18,18,9,1.809270,0.000251,-0.000697,0.000755,1
9364,1231823,18,18,9,1.809270,0.000878,-0.000133,0.001602,1
9365,1231981,18,18,9,1.143379,0.000251,-0.000697,0.000755,1
9366,1232059,18,18,9,1.143379,0.000878,-0.000133,0.001602,1

In [120]:
Experiment_log["length"] = abs(Experiment_log["index"] - Experiment_log["index"].shift(fill_value=0))
Experiment_log = Experiment_log[['participants', 'Block', 'Target', 'Time','length', 'posX', 'posY', 'posZ']]

Experiment_log

,participants,Block,Target,Time,length,posX,posY,posZ
0,1,1,1,0.932465,81,0.000572,-0.000358,0.001101
1,1,1,1,0.932465,104,-0.000230,-0.000209,-0.000151
2,1,1,1,1.153687,82,0.000572,-0.000358,0.001101
3,1,1,1,1.153687,104,-0.000230,-0.000209,-0.000151
4,1,1,2,0.931824,82,0.000569,-0.000250,0.000819
...,...,...,...,...,...,...,...,...
9362,18,18,8,1.409798,125,0.000755,-0.000212,0.000748
9363,18,18,9,1.809270,158,0.000251,-0.000697,0.000755
9364,18,18,9,1.809270,78,0.000878,-0.000133,0.001602
9365,18,18,9,1.143379,158,0.000251,-0.000697,0.000755
9366,18,18,9,1.143379,78,0.000878,-0.000133,0.001602

In [121]:
Trajectory_log = data[['participants', 'Block', 'Target','posX', 'posY', 'posZ']]
Trajectory_log

         participants  Block  Target      posX      posY      posZ
0                   1      1       1  0.000000  0.000000  0.000000
1                   1      1       1 -0.000031 -0.000011 -0.000045
2                   1      1       1 -0.000031 -0.000084  0.000022
3                   1      1       1  0.000012 -0.000017  0.000022
4                   1      1       1  0.000089 -0.000134  0.000116
...               ...    ...     ...       ...       ...       ...
1232055            18     18       9  0.001078 -0.000514  0.002732
1232056            18     18       9  0.001702  0.000115  0.003239
1232057            18     18       9  0.000783 -0.000395  0.001267
1232058            18     18       9  0.001229 -0.000418  0.002120
1232059            18     18       9  0.000878 -0.000133  0.001602

[1232060 rows x 6 columns]

In [ ]:
Experiment_log.to_csv('C:/Users/acer/제스처분석/Experiment_log.csv', encoding = 'cp949')
Trajectory_log.to_csv('C:/Users/acer/제스처분석/Trajectory_log.csv', encoding = 'cp949')